<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="カードの画像">
  <div class="card-body">
    <h5 class="card-title"><%= article.title %></h5>
    <p class="card-text"><%= article.text %></p>
    <a href="#" class="btn btn-primary">編集</a>
  </div>
</div>
